<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/stylesheets/accountsetting.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/navigationsbar.css">
    <title></title>
  </head>
  
  <body class="pageSwitch">
    <header>
      <label class="logo" href="/worker"> GridFlix </label>
      <a href="/worker/logout" class="">Logout </a>
      <a href="/worker"> Home </a>
      <a> <%= name %> </a>
    </header>
    <div class="frontpage">
      <div class="right">
        <div class="userinfo">
          <h2>Account Settings</h2>
        </div>
        <div class="compute">
          <div class="header">
          <h3>Subscription details</h3> 
          </div>

          <body onload="handleChange({target: document.querySelector('input[name=option]')})">

          <% if (compute) { %>
            <div class="computeYes" id="computeYes">
              You are currently computing while watching GridFlix
              <input type="checkbox" name="option" value="yes"  checked>
              <input type="button" name="changeCompute" id="changeCompute" class="changeCompute" value="Change subscription details"> 
            </div>
          <% } else { %>
            <div class="computeNo" id="computeNo">
              You are currently not computing while watching GridFlix
              <%= compute %>
              <input type="checkbox" name="option" value="no" checked>
              <input type="button" name="changeCompute" id="changeCompute" value="Change subscription details">

            </div>
          <% } %>
        </div>
        <br />
        <div class="subtasks">
          <div class="header">
            <h3>Contribute History</h3>
          </div>
          Number of subtasks completed: <%= tasks_computed %>
        </div>
        <br />
        <div class="points">
          <div class="header">
            <h3>Subscription</h3>
          </div>
          Points obtained: <span id="pointsObtained">0</span>
        </div>
      </div>
    </div>
    <script src="/javascripts/worker.js"></script>
  </body>
</html>