<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/stylesheets/worker.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/navigationsbar.css">
    <title></title>
  </head>
  
  <body>
    <header>
      <label class="logo"> GridFlix</label>
      <a href="/worker/logout" class="">Logout</a>
      <a id="settings" onclick="changePageToSettings()"> Settings </a>
      <a id="settings" onclick="changePageToHome()"> Home </a>
      <a> <%= name %> </a>
    </header>
    <div class="mainDiv" id="mainDiv">
    </div>

    <body onload="handleChange({target: document.querySelector('input[name=option]')})">
      <% if (compute) { %>
        <div class="computeYes" id="computeYes">
          <input type="checkbox" name="option" value="yes"  checked>
        </div>
      <% } else { %>
        <div class="computeNo" id="computeNo">
          <input type="checkbox" name="option" value="no" checked>
        </div>
      <% } %>
      </div>

  </body>
  <script src="javascripts/worker.js"></script>
  <script src="javascripts/pageChanger.js" ></script>
</html>