<link rel="stylesheet" href="/stylesheets/navigationsbar.css">
<link href="/stylesheets/worker.css" rel="stylesheet" type="text/css">

<body>
  <div class="mainDiv" id="mainDiv"></div>

  <body onload="handleChange()"></body>
  <script src="javascripts/pageChanger.js"></script>
</body>
