<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/stylesheets/worker.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/navigationsbar.css">
    <title></title>
  </head>
  
  <body>
    <div class="mainDiv" id="mainDiv">
    </div>

    <body onload="handleChange({target: document.querySelector('input[name=option]')})">
      

  </body>
  <script src="javascripts/worker.js"></script>
  <script src="javascripts/pageChanger.js" ></script>
</html>