*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
 
.frontpage{
    text-align: justify; 
}

body{
    background-color: #f2f2f2;
}
.top{
    top: 0;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    height:50px;
    background-color: rgba(29, 29, 99, 0.144);
}
 
 
.right {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-family: serif;
  }
 
.userinfo{
    padding-block: 5%;
}
 
.compute{
    background-color: white;
    border: transparent;
    box-shadow: 5px 10px;
    border-radius: 15px;
    height: 100px;
    width: 90%;
    box-shadow: 0px 0px 10px 2px lightgray;
    padding: 5px 0px 5px 10px;
 
}
 
.header{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
}
 
.subtasks{
    background-color: white;

    border: transparent;
    border-radius: 15px;
    height: 100px;
    width: 90%;
    box-shadow: 0px 0px 10px 2px lightgray;
    padding: 5px 0px 5px 10px;
 
}
 
 
.points{
    background-color: white;

    border: transparent;
    border-radius: 15px;
    height: 100px;
    width: 90%;
    box-shadow: 0px 0px 10px 2px lightgray;
    padding: 5px 0px 5px 10px;
 
}
 
.left{
    width: 100%;    
}

input[type="checkbox"] {
    position: absolute;
    left: -9999px;
  }

.changeCompute{
    width: 300px;
    background-color: transparent;
    border: none;
    color: rgb(10, 13, 59);
    font-size: large;
    cursor: pointer;
    float: right;
  }