* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Courier New", Courier, monospace;
}

header {
    height: 30%;
    width: 100%;
    background-image: url("../images/blue-background.png");
    background-position: center;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 100%;
}

label.logo {
    font-size: 28px;
    color: white;
    padding: 0 100px;
    line-height: 80px;
    justify-content: left;
}

.headerItems {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 20px;
}

.headerItems > *:not(:last-child) {
    margin-right: 75px;
}

/* Style the Settings and Home buttons */
#logoutButton,
#settingsButton,
#homeButton,
#nameButton {
    border: none;
    background: none;
    color: white;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
}

#logoutButton:hover,
#homeButton:hover,
#settingsButton:hover,
a[href="/worker/logout"]:hover {
    cursor: pointer;
    color: rgb(220, 220, 220);
}

#logoutButton:active,
#homeButton:active,
#settingsButton:active,
a[href="/worker/logout"]:active {
    cursor: pointer;
    color: rgb(170, 170, 170);
}

/* Style the Settings and Home buttons */
#nameButton {
    border: none;
    background: none;
    color: white;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    font-size: 20px;
    cursor: default;
}

/* Remove the default focus outline on buttons */
button:focus {
    outline: none;
}
